:root{

    /*color*/
    --btn-color: #145369;
    --box-color: #F68E14;
    --font-color: #EC9B23;
    /*font*/
    --main-font: 'Poppins', sans-serif;
    --logo-font: 'Pacifico', cursive;

    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-size: var(--main-font) ;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.img-back {
    position: absolute;
    width: 100%;
    height: 500px;
    box-shadow: #9e9ea7;

  }

/*searc box*/
.group{
    display: flex;
    line-height: 28px;
    position: relative;
    top: 250px;
    left: 670px;
    max-width: 190px;
}
.input {
    width: 1000px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   .input::placeholder {
    color: #9e9ea7;
   }
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   .icon-serc {
    position: relative;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
      
/*searc end*/

.container{
    max-width: 1420px;

}
.selection-margin{
    margin-top: 250px;
}


.nav{

    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow:var(--box-shadow) ;

}
 .nav .container{
   
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }

 .nav .menu-wreper{
   
    display: flex;
    justify-content: space-between;
    width: 100%;

 }

 .nav .menu-wreper .menu{
    margin: auto;
 }
 .nav .logo{
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 30px;
    color: #EC9B23;
 }
 .nav .logo span{
    color: #145369;
 }

 .nav .menu a{
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 400;
    color: #1E1B1B;
    margin: 0 30px;

 }
 .nav .menu a.activ{
    color: #145369;
    font-weight: 800;
 }
.nav .icons a{
    font-size: 25px;
    color: #145369;
}

.nav .icons .icon{
    margin-right: 20px;
}

.nav .menuOpen{
    font-size: 40px;
    color: var(--btn-color);
}
   /*navbar End*/

   /*recponsive*/
   @media screen and (max-width: 768px) {

    .nav .menu-wreper{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh ;
    background-color:#EC9B23;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }

    .nav .icons a{
        color: var(--btn-color) !important;
        justify-content: center;
        align-items: center;
       
    }

    .nav .menu a{
        display: block;
        margin:  50px 0;
    }
}

.populer .box1{
    display: flex;
    margin-top: 500px;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
  }
  .populer .box1 .box2{
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    padding: 30px;
    background: white;
    box-shadow:0 3px 3px rgb(0,0,0,.1);
    border-right:5px solid #EC9B23;
    border: .1rem solid var(--btn-color);
    
    border-radius: 10px;
    text-align: center;
    
  }
  .populer .box1 .box2 img{
    height: 160px;
    object-fit: cover;
    width:180px;
    border-radius: 10px;
  }
  .populer .box1 .box2 h3{
    color: var(--btn-color);
    font-size: 15px;
    font-family: var(--main-font);
    padding-top: 20px;
  }

  .populer .box1 .box2 button {
    position: relative;
    margin-top: 20px;
    padding: 10px 2em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--btn-color);
    border: none;
    border-radius: .5rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  b{
    color: white;
  }
  
  .populer .box1 .box2 button:hover {
    background-color:#F68E14 ;
    box-shadow: 0px 15px 20px var(--btn-color);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .populer .box1 .box2 button:active {
    transform: translateY(-1px);
  }